html {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  line-height: 1.8em;
}

body {
  background: var(--white-200);
  color: var(--grey-600);
  padding: 0;
  margin: 0;
}