html {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  line-height: 1.8em;
}

body {
  background: linear-gradient(to bottom, var(--white-100), var(--white-200));
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--grey-600);
  padding: 0;
  margin: 0;
}
