// Text and content

a {
  color: var(--primary-200);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: var(--primary-200);
    text-decoration: underline;
  }
}

p {
  margin: var(--size-100) 0;
}
