// Site-wide variables

:root {
  // Backgrounds
  --white-100: #fff;
  --white-200: #e9f0f3;

  // Grey
  --grey-100: #d6d7e0;
  --grey-200: #a1a2b3;
  --grey-300: #7d7e91;
  --grey-400: #58596e;
  --grey-500: #3c3d4e;
  --grey-600: #1e1f2c;

  // Colours
  --primary-100: #1713f5;
  --primary-200: #1b19bb;

  // Spacing
  --size-25: 0.25rem;
  --size-50: 0.5rem;
  --size-75: 0.75rem;
  --size-100: 1rem;
  --size-125: 1.15rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-300: 3rem;
}
